//---------- GoogleFont Import ----------//
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Sets custom values for Bootstrap's Variables */
$primary: #314f53;
$secondary: #f59e0b;
$success: #cfdee0;
$warning: #e0cfcf;
$font-family-base: "Lexend", lato, sans-serif;

//---------- Bootstrap import ----------//
@import "bootstrap/scss/bootstrap";

//---------- Global Resets ----------//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  list-style-type: none;
  color: #314f53;
}
html {
  font-size: 16px;
}
body {
  margin-top: 95px;
}
html,
body {
  scroll-behavior: smooth;
}
img {
  object-fit: cover;
}
a:hover {
  transform: scale(1.05);
}

//---------- Global Custom Styles ----------//
//-- Custom background for section
.bg-gray-custom {
  background-color: #f5f5f5;
}
//-- Margin for sections
.mt-mb-75 {
  margin: 75px 0;
}
//-- This class is designed for use with `container-fluid` to restrict its maximum width to 1440px, while centering it within the parent.
.limited-width {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
//circle image bottom (HeroImg and ProfileImg)
.rounded-circle-bottom {
  border-radius: 0 0 50% 50%;
}

//Additional style for Bootstrap card
.card-img-top-container {
  padding-top: 80%;
}
//--Overlay styles for auctions text on hover(index,profiles,explore pages)
.overlay-content {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  opacity: 0;
}
.card-container:hover .overlay-content {
  opacity: 1;
  display: flex;
}

//---------- Header & Footer----------//
//--Header
nav {
  min-height: 96px;
}
//-- Make the Dropdown center of the changing navbar content
.navbar .dropdown-menu {
  left: 60%;
  transform: translateX(-60%);
}
//--To make ul element to center of the navbar
.unordered-list {
  padding-left: 75px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navProfile {
  width: 48px;
  height: 48px;
}
//----- New Listing Modal
.img-icon {
  width: 200px;
  height: 200px;
}
//--Footer
footer {
  font-size: 0.9rem;
}

//---------- Header MQ----------//
//--To make ul element to center of the navbar on lg screens and smaller and navbar to have less hight
@media (max-width: 992px) {
  .unordered-list {
    padding-left: 0px;
  }
  nav {
    min-height: 88px;
  }
  body {
    margin-top: 88px;
  }
}
