//---------- Section 1 listing product ----------//
//-- Listing
.listing-img {
  min-height: 300px;
  max-height: 600px;
}

//---------- Section 2 Seller and History ----------//

.seller-img {
  width: 90px;
  height: 90px;
}
