//---------- Section 1 listing product ----------//
//-- Listing
.listing-img {
  height: 550px;
}

//---------- Section 2 Seller and History ----------//

.seller-img {
  width: 90px;
  height: 90px;
}

//---------- Section 1 Listing Image MQ for Hight----------//
@media (max-width: 1200px) {
  .listing-img {
    height: 450px;
  }
}
@media (max-width: 576px) {
  .listing-img {
    height: 375px;
  }
}
